@model CRMS.Models.CustomerModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chi tiết thông tin khách hàng</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CCCD)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CCCD)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DoB2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DoB2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.YoB)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.YoB)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Facebook)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Facebook)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hobbies)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hobbies)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Danh sách", "Index")
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            console.log('Chi tiết thông tin khách hàng');

            $("select option[value='false']").each(function () {
                this.text = 'Nữ';
            });

            $("select option[value='true']").each(function () {
                this.text = 'Nam';
            });

            $("select option[value='']").each(function () {
                this.text = 'Không xác định';
            });
        });
    </script>
}